.multidate-container-full {
    border: var(--element-border-style, 1px dotted gray);
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 2px;
    overflow: auto;
    max-width: 18em;
}
.multidate-container-brief {
    border: var(--element-border-style, 1px dotted gray);
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    position: relative;
    max-width: fit-content;
    padding: 2px;
    max-width: 18em;
}
.multidate-container-superbrief {
    display: inline-block;
    position: relative;
    max-width: fit-content;
}

.multidate-details-button, .multidate-min-button {
    display: block;
    width:16px;
    height:16px;
    position: absolute;
    top: 0px;
}
.multidate-details-button {
    content: url("details.svg");
    right: -16px;
}
.multidate-min-button {
    content: url("min.svg");
    right: -0px;
}
.multidate-title {
    /* font-size: large; */
    font-weight: bold;
    display: inline-block;
    /* max-width: 100%; */
    text-align: left;
}

.multidate-subtitle {
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.4;
    text-align: justify;
}
.multidate-datepoint {
    font-size:medium;
    display: inline-block;
    max-width: max-content;
    text-align: center;
}
.multidate-datepoint-label {
    font-size: xx-small;
}

.multidate-tolerance {
    font-size: small;
    display: inline-block;
}

.multidate-dateselector {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: baseline;
    font-size: x-small;
}
.multidate-dateselector-prev {
    min-width: 3em;
    text-align: right;
    color: var(--hide-as-option-color);
}

.multidate-dateselector-next {
    min-width: 3em;
    color: var(--hide-as-option-color);
}
.multidate-dateselector-cur{
    min-width: 3em;
    font-weight:bold;
    text-align: center;
    font-size: small;
}

.multidate-dateselector-prev:hover, .multidate-dateselector-next:hover {
    color: var(--active-on-hover-color);
    cursor: pointer;
}

.multidate-full-dates {
    display: grid;
    grid-template-columns: auto 1fr;
    font-size: 80%;
}
.multidate-full-date-caption {
    padding-left: 1em;
    padding-right: 1em;
}